* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 32px 0;
  color: rgb(61, 61, 61);
}

@font-face {
  font-family: 'Playfair';
  src: url(./fonts/PlayfairDisplay-VariableFont_wght.ttf);
}

@font-face {
  font-family: 'Roboto';
  src: url(./fonts/Roboto-Regular.ttf);
}

.orange-square {
  height: 300px;
  width: 100vw;
  background-color: rgba(255, 160, 122, 0.816);
  position: absolute;
  z-index: -2;
}

.orange-triangle {
  height: 0;
  width: 0;
  border-left: 100vw solid rgba(255, 160, 122, 0.816);
  border-bottom: 50px solid transparent;
  position: absolute;
  transform: translateY(300px);
  z-index: -2;
}

header {
  margin-top: 32px;
}

.header-image {
  height: 325px;
  box-shadow: 1px 2px 4px 1px lightgray;
}

.header-text {
  font-size: 3rem;
  font-weight: 100;
  font-family: 'Playfair';
  color: white;
  text-shadow: 1px 2px 4px black;
  position: relative;
  top: -70px;
  left: 10px;
  width: max-content;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

h2 {
  font-family: 'Playfair';
}

.icon {
  width: 30px;
}

.my-work {
  margin-top: 64px;
}

.projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 48px;
}

.project {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
  box-shadow: 1px 2px 4px 1px lightgray;
  max-width: 70vw;
}

.project img {
  max-width: 70vw;
}

.info {
  align-self: stretch;
  padding: 8px;
  background-color: rgba(255, 160, 122, 0.168);
}

.info > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 8px;
}

.info nav {
  display: flex;
  gap: 8px;
}

footer {
  display: flex;
  flex-direction: column;
  margin-top: 64px;
}

.contact-info {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 16px;
  background-color: rgba(255, 160, 122, 0.816);
}

.contact-info > h2 {
  align-self: center;
}

address,
address a {
  display: flex;
  align-items: center;
  gap: 16px;
}

.contact-info nav {
  align-self: center;
}

.footer-image {
  width: 100vw;
}

@media (min-width: 600px) {
  header {
    position: absolute;
    left: 5vw;
  }

  .header-image {
    height: 375px;
  }

  .header-text {
    top: -350px;
    left: 300px;
  }

  .about-me {
    position: relative;
    right: -5vw;
    box-shadow: 1px 2px 4px 1px lightgray;
    background-color: white;
    padding: 16px 16px 16px 250px;
    width: 80vw;
    margin-top: 15vh;
    z-index: -1;
  }

  .my-work {
    align-items: flex-start;
  }

  .my-work > h2 {
    position: relative;
    left: 3vw;
  }

  .project,
  .project img {
    max-width: 30vw;
  }

  footer {
    flex-direction: row;
    width: 100vw;
  }

  .contact-info {
    justify-content: center;
  }

  .footer-image {
    width: 50vw;
  }
}

@media (min-width: 1000px) {
  .orange-square {
    height: 400px;
  }

  .orange-triangle {
    transform: translateY(400px);
  }

  .header-text {
    top: -75px;
    left: 30px;
  }

  .my-work {
    margin-top: 128px;
  }

  .about-me {
    right: -10vw;
    top: -10vh;
    padding: 32px;
    width: 55vw;
  }

  .my-work > h2 {
    left: 5vw;
  }

  .project,
  .project img {
    max-width: 25vw;
  }

  .contact-info {
    padding: 48px;
    font-size: 1.3rem;
  }
}
